.container {
  @apply flex flex-col p-6 bg-white backdrop-filter backdrop-blur-lg dark:bg-black bg-opacity-60 dark:bg-opacity-60;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  flex-grow: 1;
}
