.scaffold {
  z-index: 999;
}

.backstage {
  scale: 0.95;
  border-radius: 1rem;
  overflow: clip;

  @media screen and (max-width: 666px) {
    scale: 1;
    border-radius: 0px;
  }
}

.container {
  @apply absolute top-0 left-0 z-50 flex w-screen h-screen bg-black place-items-center bg-opacity-20;
}

.modal {
  @apply w-screen lg:mx-auto lg:w-[900px] overflow-clip h-[96vh] bg-white mt-auto lg:mt-0 lg:rounded-2xl rounded-t-2xl shadow-2xl;
  animation: enterTransition 250ms cubic-bezier(0, 0, 0.15, 1) forwards;
}

@keyframes enterTransition {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.fullScreen {
  @apply h-screen w-screen;
}
