.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  cursor: pointer;
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
}

.tab {
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--primary-color));
  margin-bottom: 2px;
  opacity: 0.8;
  border-bottom: 2px solid transparent;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

.selected {
  border-bottom: 2px solid rgb(var(--primary-color));
  opacity: 1;
}
