.primary {
  background: url("https://unsplash.com/photos/gdTxVSAE5sk/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8OXx8Y2VsZWJyYXRpb258ZW58MHx8fHwxNjY3NzE1MTE1&force=true");
  // background: url("https://unsplash.com/photos/ZODcBkEohk8/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjY3NzU1MDUy&force=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 0px 12px 50px black;
}

