@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn forwards;
}

@keyframes fadeIn {
  0% {
    translate: 0, -50;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 1;
  }
}

* {
  user-select: none;
}

.backdrop-dim {
  box-shadow: 0px 0px 0px 100vmax rgba($color: #000000, $alpha: 0.3);
}

.round-second-and-last {
  &:nth-child(1) {
    @apply rounded-t-xl;
  }
  &:last-child {
    @apply rounded-t-xl;
  }
}

.animate-pop-in {
  animation: popIn forwards 300ms ease-in-out;

  @keyframes popIn {
    0% {
      translate: 0 400px;
      scale: 0;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
}

.animate-pop-out {
  animation: popOut forwards 300ms ease-in-out;

  @keyframes popOut {
    0% {
      translate: 0;
      scale: 1;
    }
    100% {
      translate: 0 400px;
      scale: 0;
    }
  }
}

.links a {
  @apply text-primary-500 font-bold hover:underline hover:text-primary-600;
}
