@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn forwards;
}

@keyframes fadeIn {
  0% {
    translate: 0, -50;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 1;
  }
}

* {
  user-select: none;
  outline: #3f4882;
}

.backdrop-dim {
  box-shadow: 0px 0px 0px 100vmax rgba($color: #000000, $alpha: 0.3);
}

.round-second-and-last {
  &:nth-child(1) {
    @apply rounded-t-xl;
  }
  &:last-child {
    @apply rounded-t-xl;
  }
}

.animate-pop-in {
  animation: popIn forwards 300ms ease-in-out;

  @keyframes popIn {
    0% {
      translate: 0 400px;
      scale: 0;
    }
    100% {
      translate: 0;
      scale: 1;
    }
  }
}

.animate-pop-out {
  animation: popOut forwards 300ms ease-in-out;

  @keyframes popOut {
    0% {
      translate: 0;
      scale: 1;
    }
    100% {
      translate: 0 400px;
      scale: 0;
    }
  }
}

.links a {
  @apply text-primary-500 font-bold hover:underline hover:text-primary-600;
}

.animate-jump {
  animation: jump forwards 300ms ease-out;

  @keyframes jump {
    100% {
      scale: 1;
      opacity: 1;
    }
    5% {
      scale: 0.5;
      opacity: 0.2;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }

  &:before {
    content: "";
    @apply absolute bg-primary-500 inset-0 rounded-full opacity-0 -z-10;
    animation: glow forwards 500ms ease-out;

    @keyframes glow {
      0% {
        filter: blur(4px);
        scale: 1;
        opacity: 1;
      }
      5% {
        filter: blur(0px);
        scale: 0;
        opacity: 1;
      }
      100% {
        filter: blur(1rem);
        scale: 2;
        opacity: 0;
      }
    }
  }
}
