@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;

  user-select: none;
}

.dim-behind {
  box-shadow: 0 0 0 100vmax rgba($color: #000000, $alpha: 0.6);
}

.responsive {
  @apply w-auto md:w-2/3 lg:w-1/2 md:mx-auto;
}

.card {
  @apply rounded-3xl shadow-2xl  bg-white;
}

.smooth {
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.slide-in {
  animation: slide 350ms cubic-bezier(0.25, 1, 0.5, 1) forwards;

  @keyframes slide {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.hidden-desktop {
  @media (min-width: 768px) {
    display: none;
  }
}

.hidden-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.link a {
  @apply text-primary-500 font-semibold hover:underline;
}
