.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image {
  border-radius: 2rem;
  aspect-ratio: 9/12;
  object-fit: cover;
  width: 100%;
}

.date {
  font-weight: 300;
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.address {
  font-weight: 300;
}
