@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #222324;
  box-sizing: border-box;
  --primary-color: 63, 72, 131;
  --dark-primary-color: 80, 91, 165;
  --primary-sheet: 244, 248, 253;
  --dark-primary-sheet: 5, 16, 30;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  * {
    color: white;
  }
  body {
    background: black;
  }
}

@media screen and (max-width: 666px) {
  .hidden-mobile {
    display: none;
  }
}
