.list {
  width: auto;
  height: fit-content;
  display: grid;
  grid-auto-flow: row;
  overflow: scroll;
  flex-direction: column;
}

.row {
  flex-direction: row !important;
}

.heading {
  font-size: 2rem;
  padding: 1.5rem;
  font-weight: bold;
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

.sectionHeading {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  width: auto;
  overflow: scroll;
  padding-left: 1.5rem;
}

.sectionDescription {
  opacity: 0.6;
  padding: 0 1.5rem;
}
