.navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba(var(--primary-sheet));

  @media (prefers-color-scheme: dark) {
    background-color: rgb(var(--dark-primary-sheet));
  }

  @media screen and (max-width: 666px) {
    flex-direction: row;
    border-radius: 100vmax;
    justify-content: space-around;
    margin: 1.5rem 3rem;
  }
}

.item {
  --inactive-color: #62636f;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  background-color: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--inactive-color);
  transition: color 150ms ease-in, fill 200ms ease-in;
  &:hover {
    color: #505ba5;
  }
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  @media screen and (max-width: 666px) {
    font-size: 0px;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  transition: color 150ms ease-in, fill 200ms ease-in;
  path {
    fill: var(--inactive-color);
    transition: color 150ms ease-in, fill 200ms ease-in;
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
  }
}

.selected {
  color: rgb(var(--primary-color)) !important;
  animation: onclick-x forwards 400ms ease-out;
  @media (prefers-color-scheme: dark) {
    color: rgb(var(--dark-primary-color)) !important;
  }
  path {
    fill: rgb(var(--primary-color));
    @media (prefers-color-scheme: dark) {
      fill: rgb(var(--dark-primary-color));
    }
  }
  @media screen and (max-width: 666px) {
    animation: onclick-y forwards 400ms ease-out;
  }
}

@keyframes onclick-x {
  0% {
    translate: 0px;
  }
  25% {
    translate: 0.5rem;
  }
  75% {
    translate: 0.5rem;
  }
  100% {
    translate: 0px;
  }
}

@keyframes onclick-y {
  0% {
    translate: 0px 0px;
  }
  25% {
    translate: 0px -0.5rem;
  }
  75% {
    translate: 0px -0.5rem;
  }
  100% {
    translate: 0px;
  }
}
