.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  @media screen and (max-width: 666px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.appBar {
  @media screen and (max-width: 666px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
