.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  @media screen and (max-width: 666px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.primarySection {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 666px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.appBar {
  display: flex;
  flex-direction: column;
}

.primaryCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.navigationBar {
  @media screen and (max-width: 666px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
