.page {
  width: 100vw;
  height: 100vh;
  overflow: clip;
  display: grid;
  background-color: white;
  grid-template-columns: auto 1fr;
  @media screen and (max-width: 666px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  @media (prefers-color-scheme: dark) {
    background-color: black;
  }
  transition: transform 250ms ease-in, border-radius 250ms ease-in;
}

.primarySection {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 666px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.appBar {
  display: flex;
  flex-direction: column;
}

.primaryCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  @media screen and (max-width: 666px) {
    display: none;
  }
}

.navigationBar {
  @media screen and (max-width: 666px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.backstage {
  transform: scale(0.95);
  border-radius: 1rem;
  overflow: clip;
  @media screen and (min-width: 1024px) {
    transform: scale(1);
    border-radius: 0px;
  }
}
