/*Material Design Tab Bar*/

.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.tab {
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  color: rgb(var(--primary-color));
  margin-bottom: 2px;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
}

.selected {
  border-bottom: 2px solid rgb(var(--primary-color));
  opacity: 1;
}
